* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
main {
  padding-bottom: 10em;
}
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.top-btn {
  width: 8em;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(201, 199, 199);
}
.top-btn:hover {
  cursor: pointer;
  background-color: rgb(233, 223, 223);
  transition: 0.3s;
  transform: scale(1.1);
}
#hero {
  width: 100%;
  background: hsl(193, 100%, 96%) url(bg-hero-desktop.svg);
  padding: 20px 50px;
}
.mock-up {
  width: 600px;
}
.hero-h2 {
  width: 50%;
  line-height: 30px;
  margin-bottom: 20px;
}
.hero-p {
  width: 60%;
  margin-bottom: 20px;
}
.hero-head {
  display: flex;
  flex-direction: column;
  width: auto;
}
.hero-btn {
  width: 18em;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: hsl(322, 94%, 50%);
  color: hsl(193, 100%, 96%);
}
.hero-btn:hover {
  background-color: hsl(322, 100%, 66%);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}
.hero-sect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.major {
  margin: 0 5em;
}
.grow-p {
  width: 65%;
}
.grow-image {
  width: 400px;
}
#grow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 218, 218);
  border-radius: 10px;
  margin-top: 5em;
  padding: 2em 4em 2em 8em;
  box-shadow: 0px 0px 2px 2px rgb(201, 199, 199);
}
.flow-image {
  width: 400px;
}
.flow-p {
  width: 60%;
  margin-left: 5em;
}
#flow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 218, 218);
  border-radius: 10px;
  margin-top: 20px;
  padding: 2em 2em 2em 8em;
  box-shadow: 0px 0px 2px 2px rgb(201, 199, 199);
  overflow: hidden;
}
.user-image {
  width: 400px;
}
.user-p {
  width: 60%;
}
#user {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 218, 218);
  border-radius: 10px;
  margin-top: 20px;
  padding: 2em 4em 2em 8em;
  box-shadow: 0px 0px 2px 2px rgb(201, 199, 199);
}
.card {
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  width: 40%;
  height: 9em;
  margin: 0 14em 0 20em;
  position: relative;
  z-index: 2;
  bottom: -3em;
  left: 8em;
  padding: 0 3em;
  background-color: white;
}

.card-btn {
  background-color: hsl(322, 94%, 50%);
  color: hsl(193, 100%, 96%);
  height: 3em;
  width: 50%;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
}
.card-btn:hover {
  background-color: hsl(322, 100%, 66%);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}
.btn-head {
  margin-top: 1.5em;
}
#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5em;
  padding-top: 6em;
}
.bottom-left {
  width: 25%;
}
.contact {
  margin-bottom: 1em;
}
.more {
  margin-bottom: 1em;
}
.copy {
  width: 100%;
  text-align: end;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  padding-bottom: 3em;
  padding-right: 1em;
}
.fa-brands {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: 5px;
}
.fa-brands:hover {
  background-color: hsl(322, 100%, 66%);
  transition: 0.3s;
  transform: scale(1.3);
  cursor: pointer;
}
.contact-p {
  margin-left: 1em;
}

/* Mobile */
@media screen and (max-width: 875px) {
  body {
    width: 100vw;
  }
  #hero {
    width: 100vw;
    background: hsl(193, 100%, 96%) url(bg-hero-mobile.svg);
    padding: 1em;
  }

  .hero-sect {
    flex-direction: column;
  }
  .mock-up {
    width: 300px;
    margin: 3em auto 1em auto;
  }

  .top-btn {
    width: 7em;
    height: 1.5em;
  }

  .hero-h2 {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }
  .hero-p {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
    line-height: 22px;
  }

  .hero-btn {
    width: 60%;
    margin: auto 7em;
    height: 2.5em;
  }
  .major {
    margin: 0 1em;
  }
  .grow-head {
    width: 50%;
    margin: 3em auto 1em auto;
  }
  .grow-p {
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 20px;
  }
  .grow-image {
    width: 300px;
  }
  #grow {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 2em 0;
    margin-top: 3em;
    overflow: hidden;
  }
  .flow-image {
    width: 300px;
  }
  .flow-head {
    width: 100%;
    margin: 3em auto 1em auto;
  }
  .flow-p {
    width: 80%;
    margin: auto;
    padding-left: 0;
    text-align: center;
  }
  #flow {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;
    margin-top: 1.5em;
    overflow: hidden;
  }
  .user-image {
    width: 300px;
  }
  .user-head {
    width: 50%;
    margin: 3em auto 1em auto;
  }
  .user-p {
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 20px;
  }
  #user {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 2em 0;
    margin-top: 1.5em;
    overflow: hidden;
  }
  .card {
    text-align: center;
    width: 90%;
    height: 11em;
    position: relative;
    top: 4em;
    z-index: 2;
    right: 19em;
    bottom: 0;
    left: -19em;
    padding: 1em 0;
  }

  .card-btn {
    background-color: hsl(322, 94%, 50%);
    color: hsl(193, 100%, 96%);
    height: 3em;
    width: 70%;
    border: none;
    margin-top: 2em;
  }

  footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding: 3em 1em;
    position: static;
  }
  #bottom {
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    margin: 0;
    padding-top: 6em;
  }
  .bottom-left {
    width: 80%;
    margin-bottom: 2em;
  }
  .contact {
    margin-bottom: 1em;
  }
  .more {
    margin-bottom: 1em;
  }
  .copy {
    width: 90%;
    margin: auto;
  }
  .social {
    width: 30%;
    margin: 2em auto;
  }
}
